# ======================================
# PYTHON
# ======================================

venv/
__pycache__/
*.pyc

# ======================================
# NODE
# ======================================

node_modules/

# ======================================
# ENV
# ======================================

.env

# ======================================
# UPLOADS
# ======================================

backend/uploads/

# ======================================
# VSCODE
# ======================================

.vscode/

# ======================================
# OS FILES
# ======================================

.DS_Store
Thumbs.db